@import url("https://fonts.googleapis.com/css?family=Oswald|Work+Sans");
body {
  font-family: "Oswald", sans-serif;
  margin: 0;
  background-image: url("../images/doodles.png"); }

.header {
  background-color: #39484c;
  width: 100%;
  height: 50px;
  position: fixed; }
  @media (min-width: 792px) and (max-width: 1320px) {
    .header {
      height: 100px; } }
  .header .title-section {
    float: left;
    font-size: 21px;
    color: #fefbdd;
    margin-left: 24px;
    margin-top: 10px; }
    @media (min-width: 792px) and (max-width: 1320px) {
      .header .title-section {
        display: none; } }
  .header .link-section {
    float: right;
    margin-right: 24px;
    margin-top: 12px; }
    @media (min-width: 792px) and (max-width: 1320px) {
      .header .link-section {
        margin-top: 30px;
        text-align: center;
        margin-right: 0px;
        float: none; } }
    .header .link-section a {
      color: #fefbdd;
      margin: 12px;
      font-size: 18px;
      text-decoration: none;
      cursor: pointer;
      transition: 0.25s;
      border-bottom: 2px solid rgba(254, 251, 221, 0);
      -webkit-touch-callout: none;
      /* iOS Safari */
      -webkit-user-select: none;
      /* Safari */
      -khtml-user-select: none;
      /* Konqueror HTML */
      -moz-user-select: none;
      /* Firefox */
      -ms-user-select: none;
      /* Internet Explorer/Edge */
      user-select: none;
      /* Non-prefixed version, currently
         supported by Chrome and Opera */ }
      .header .link-section a:hover {
        border-bottom: 2px solid #fefbdd; }
      @media (min-width: 792px) and (max-width: 1320px) {
        .header .link-section a {
          font-size: 28px; } }

.cover {
  background-size: cover;
  width: 100%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+50,1+100 */
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 50%, white 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, white 50%, white 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 50%, white 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
  /* IE6-9 */ }
  .cover .logo {
    background-image: url("../images/logo.png");
    background-size: cover;
    height: 800px;
    width: 1200px;
    margin: auto; }
    @media (min-width: 792px) and (max-width: 1320px) {
      .cover .logo {
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
        background-position: center; } }
  @media (min-width: 792px) and (max-width: 1320px) {
    .cover {
      height: 800px !important; } }

.section {
  width: 100%;
  float: left;
  padding-bottom: 24px; }
  .section .section-title {
    font-size: 56px;
    color: #232c33;
    width: 50%;
    text-align: center;
    margin: auto;
    margin-top: 24px; }
  .section .client-section {
    width: 50%;
    height: 200px;
    margin: auto; }
    .section .client-section .client {
      background-size: contain;
      width: 40%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center;
      margin: auto; }
      .section .client-section .client#roblox {
        background-image: url("../images/clients/roblox.png"); }
  .section .section-table {
    width: 50%;
    margin: auto; }
    @media (min-width: 792px) and (max-width: 1320px) {
      .section .section-table {
        width: 75%; } }
    .section .section-table .table-row {
      float: left; }
      .section .section-table .table-row .table-title {
        color: #edc195;
        font-size: 32px;
        float: left;
        text-align: right; }
      .section .section-table .table-row .table-info {
        float: left;
        margin: 12px;
        color: #232c33;
        font-family: "Work Sans", sans-serif; }
  .section .team-section {
    width: 70%;
    margin: 12px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .section .team-section .team-member {
      float: left;
      margin: 12px;
      width: calc(25% - 24px); }
      @media (min-width: 792px) and (max-width: 1320px) {
        .section .team-section .team-member {
          width: calc(50% - 24px); } }
    .section .team-section .member-image {
      width: 150px;
      height: 150px;
      margin: auto;
      background-size: cover;
      border: 5px solid #74c9b3;
      border-radius: 100px; }
    .section .team-section .member-name {
      width: 100%;
      text-align: center;
      float: left;
      font-size: 32px; }
    .section .team-section .member-role {
      font-size: 18px;
      text-align: center;
      clear: both;
      background-color: #edc195;
      width: 60%;
      margin: auto; }
    .section .team-section .member-desc {
      margin: 6px;
      font-family: "Work Sans", sans-serif;
      font-size: 14px; }
  .section .port-section {
    width: 50%;
    margin: auto; }
    .section .port-section .port-nav {
      float: left;
      width: 40%; }
      .section .port-section .port-nav a {
        text-decoration: none;
        color: #232c33;
        float: left;
        width: calc(100% - 40px);
        padding: 12px;
        border-left: 4px solid #232c33;
        font-size: 21px;
        transition: 0.25s;
        cursor: pointer; }
        .section .port-section .port-nav a:hover {
          border-left: 18px solid #232c33; }
        .section .port-section .port-nav a.selected {
          color: #fefbdd;
          background-color: #232c33; }
    .section .port-section .port-display {
      width: 60%;
      height: 500px;
      background-color: #232c33;
      float: right;
      overflow: hidden; }
  .section .contact-section {
    width: 50%;
    margin: auto; }
    @media (min-width: 792px) and (max-width: 1320px) {
      .section .contact-section {
        width: 75%; } }
    .section .contact-section p {
      margin: 6px auto;
      width: 100%;
      font-size: 26px; }
      @media (min-width: 792px) and (max-width: 1320px) {
        .section .contact-section p {
          font-size: 32px; } }
    .section .contact-section input[type=text], .section .contact-section textarea {
      background: #fff;
      color: #39484c;
      border-radius: 4px;
      border: 1px solid #d1d1d1;
      box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.07);
      font-family: "Work Sans", sans-serif;
      font-size: 1em;
      line-height: 1.45;
      outline: none;
      padding: 6px 12px 6px;
      -webkit-transition: .18s ease-out;
      -moz-transition: .18s ease-out;
      -o-transition: .18s ease-out;
      transition: .18s ease-out; }
      .section .contact-section input[type=text]:hover, .section .contact-section textarea:hover {
        box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.02); }
      .section .contact-section input[type=text]:focus, .section .contact-section textarea:focus {
        color: #232c33;
        border: 1px solid #B8B6B6;
        box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.01), 0px 0px 8px rgba(0, 0, 0, 0.2); }
    .section .contact-section input[type=text] {
      font-size: 21px;
      width: calc(50% - 28px);
      margin-right: 50%; }
      @media (min-width: 792px) and (max-width: 1320px) {
        .section .contact-section input[type=text] {
          font-size: 52px;
          width: calc(100% - 28px);
          margin-right: 0; } }
    .section .contact-section textarea {
      width: calc(100% - 28px);
      height: 200px;
      font-size: 14px;
      resize: none; }
      @media (min-width: 792px) and (max-width: 1320px) {
        .section .contact-section textarea {
          font-size: 28px; } }
    .section .contact-section input[type=button] {
      border: none;
      background-color: #74c9b3;
      color: white;
      padding: 6px 12px;
      font-size: 21px;
      outline: none;
      border-radius: 3px;
      font-family: "Work Sans", sans-serif;
      cursor: pointer;
      border: 1px solid rgba(57, 72, 76, 0);
      transition: 0.25s; }
      .section .contact-section input[type=button]:hover {
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        border: 1px solid rgba(35, 44, 51, 0.2); }
  .section#whatdo {
    background-image: url("../images/geo.png");
    background-attachment: fixed; }
  .section#portfolio {
    background-image: url("../images/geo.png");
    background-attachment: fixed; }
  .section#clients {
    background-color: white; }
  .section#team {
    background-color: white; }
  .section#contact {
    background-image: url("../images/geo.png");
    background-attachment: fixed; }
