@import url('https://fonts.googleapis.com/css?family=Oswald|Work+Sans');

//colors
$orange: #edc195;
$red: #88665c;
$white: #fefbdd;
$green: #74c9b3;
$gray: #39484c;
$black: #232c33;

//fonts
$heading: 'Oswald', sans-serif;
$paragraph: 'Work Sans', sans-serif;

//responsive
@mixin tablet {
  @media (min-width: 792px) and (max-width: 1320px) {
    @content;
  }
}

@mixin phone {
  @media (max-width: 792) {
    @content;
  }
}

@mixin noselect{
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

body{
  font-family: $heading;
  margin:0;
  background-image:url("../images/doodles.png");
  //background-attachment: fixed;
}


.header{
  background-color: $gray;
  width:100%;
  height:50px;
  position: fixed;
  z-index: 200;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  @include tablet{
    height:100px;
  }
  .title-section{
    float:left;
    font-size:21px;
    color: $white;
    margin-left: 24px;
    margin-top:10px;
    @include tablet{
      display: none;
    }
  }
  .link-section{
    float:right;
    margin-right:24px;
    margin-top:12px;
    @include tablet{
      margin-top: 30px;
      text-align: center;
      margin-right: 0px;
      float: none;
    }
    a{
      color: $white;
      margin:18px;
      font-size:18px;
      text-decoration:none;
      cursor: pointer;
      transition: 0.25s;
      border-bottom: 2px solid rgba($white, 0);
      &:hover{
        border-bottom: 2px solid $white;
      }
      @include noselect;
      @include tablet{
        font-size: 28px;
      }
    }
  }
}

.cover{
  background-size:cover;
  width:100%;
  height: 100vh;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+50,1+100 */
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
  .logo{
    background-image:url('../images/logo.png');
    background-size:cover;
    height:800px;
    width:1200px;
    margin: auto;
    @include tablet{
      background-size: contain;
      background-repeat: no-repeat;
      width: 100%;
      background-position: center;
    }
  }
  @include tablet{
    height: 800px !important;
  }
}

.section{
  width: 100%;
  float: left;
  padding-bottom: 24px;
  .section-title{
    font-size:56px;
    color: $black;
    width:50%;
    text-align:center;
    margin:auto;
    margin-top:24px;
    @include tablet{
        font-size: 72px;
    }
  }
  .client-section{
    width: 50%;
    height: 200px;
    margin: auto;
    .client{
      background-size: contain;
      width: 40%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center;
      margin: auto;
      &#roblox{
        background-image:url("../images/clients/roblox.png");
      }
    }
  }
  .section-table{
    width: 50%;
    margin: auto;
    @include tablet{
      width: 75%;
    }
    .table-row{
      float:left;
      clear: both;
      .table-title{
        color: $orange;
        font-size: 32px;
        float: left;
        text-align:right;
        @include tablet{
          font-size: 48px;
        }
      }
      .table-info{
        float: left;
        margin: 12px;
        color: $black;
        font-family: $paragraph;
        clear: both;
        ul{
          margin: 0;
          font-size: 18px;
          @include tablet{
            font-size: 32px;
          }
        }
      }
    }
  }
  .team-section{
      width: 70%;
      margin: 12px auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    .team-member{
      float: left;
      margin: 12px;
      width: calc(33% - 24px);
      @include tablet{
        width: calc(50% - 24px);
      }
    }
    .member-image{
      width: 150px;
      height: 150px;
      margin: auto;
      background-size: cover;
      border: 5px solid $green;
      border-radius: 100px;
    }
    .member-name{
      width: 100%;
      text-align: center;
      float: left;
      font-size: 32px;
    }
    .member-role{
      font-size: 18px;
      text-align: center;
      clear:both;
      background-color: $orange;
      border: 4px solid $orange;
      width: 60%;
      margin: auto;
    }
    .member-desc{
      margin: 6px;
      font-family: $paragraph;
      font-size:14px;
      text-align: center;
    }
  }
  .port-section{
    width: 50%;
    margin: auto;
    @include tablet{
      width: 75%;
    }
    .port-nav{
      float: left;
      width: 40%;
      @include tablet{
        width: 100%;
      }
      a{
        text-decoration:none;
        color: $gray;
        float:left;
        width: calc(100% - 40px);
        padding:12px;
        border-left: 4px solid $gray;
        font-size:21px;
        transition: 0.25s;
        cursor: pointer;
        @include tablet{
          width: 45%;
          width: calc(50% - 28px);
          font-size: 48px;
          &:hover{
            border-left: 4px solid $gray !important;
            color: $white !important;
          }
        }
        &:hover{
          border-left: 18px solid $gray;
          color: $black;
        }
        &.selected{
          color: $white;
          background-color: $gray;
        }
      }
    }
    .port-display{
      width: 60%;
      height: 700px;
      background-color: $black;
      float:right;
      overflow:hidden;
      background-size: cover;
      background-position: top center;
      @include tablet{
        width: 100%;
      }
      &:hover{
        .port-cover{
           opacity: 1;
            background-color: rgba($black, 0.75);
          }
        }

      }
      .port-cover{
        transition: 0.5s;
        width: 100%;
        height: 100%;
        opacity: 0;
        background-color: rgba($black, 0);
        .port-desc{
          color: $white;
          padding: 18px;
          font-family: $paragraph;
        }
        .port-link{
          a{
            color: $orange;
            font-size: 18px;
          }
          text-align: center;
        }
      }
    }
  .contact-section{
    width: 50%;
    margin: auto;
    @include tablet{
      width: 75%;
    }
    p{
      margin: 6px auto;
      width: 100%;
      font-size: 26px;
      @include tablet{
        font-size: 32px;
      }
    }
    input[type=text], textarea {
      background: #fff;
      color: $gray;
      border-radius: 4px;
      border: 1px solid #d1d1d1;
      box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.07);
      font-family: $paragraph;
      font-size: 1em;
      line-height: 1.45;
      outline: none;
      padding: 6px 12px 6px;
      -webkit-transition: .18s ease-out;
      -moz-transition: .18s ease-out;
      -o-transition: .18s ease-out;
      transition: .18s ease-out;

      &:hover {
        box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.02);
      }
      &:focus {
        color: $black;
        border: 1px solid #B8B6B6;
        box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.01), 0px 0px 8px rgba(0, 0, 0, 0.2);
      }
    }
    input[type=text]{
      font-size: 21px;
      width: calc(50% - 28px);
      margin-right: 50%;
      @include tablet{
        font-size: 52px;
        width: calc(100% - 28px);
        margin-right: 0;
      }
    }
    textarea{
      width: calc(100% - 28px);
      height:200px;
      font-size:14px;
      resize: none;
      @include tablet{
        font-size: 28px;
      }
    }
    input[type=button]{
      border: none;
      background-color: $green;
      color: white;
      padding: 6px 12px;
      font-size: 21px;
      outline: none;
      border-radius: 3px;
      font-family: $paragraph;
      cursor: pointer;
      border: 1px solid rgba($gray, 0);
      transition: 0.25s;
      &:hover{
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        border: 1px solid rgba($black, 0.2);
      }
    }
  }
  &#whatdo{
    background-image:url("../images/geo.png");
    background-attachment: fixed;
  }
  &#portfolio{
    background-image:url("../images/geo.png");
    background-attachment: fixed;
  }
  &#clients{
    background-color:white;
  }
  &#team{
    background-color:white;
  }
  &#contact{
    background-image:url("../images/geo.png");
    background-attachment: fixed;
  }
}

.footer{
  background-color: $gray;
  width: 100%;
  clear:both;
  .info{
    width: 50%;
    padding: 24px;
    margin-left: 100px;
    float: left;
    .info-title{
      color: $white;
      font-size: 32px;
    }
    .info-desc{
      color: $white;
      font-family: $paragraph;
    }
  }
  .bottom{
    background-color: $black;
    color: white;
    clear: both;
    p{
      margin-left: 100px;
      padding: 6px;
      -webkit-margin-after: 0;
    }
  }
  .social{
    float: left;
    .social-title{
      font-size: 32px;
      padding: 6px;
      color: $white;
    }
    .social-icon{
      width: 25px;
      height: 25px;
      background-size: contain;
      margin:6px;
      display:inline-block;
      &.linkedin{
        background-image: url('../images/social_icons/linkedin.svg')
      }
      &.facebook{
        background-image: url('../images/social_icons/facebook.svg')
      }
    }
  }
}

.bio-info{
  width: 50%;
  margin: auto;
  font-family: $paragraph;
  padding: 12px;
}
.loader{
    background-image: url('../images/loader.svg');
    width: 50vw;
    height: 50vh;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
}

.final-message{
    margin: auto;
    width: 50%;
    text-align: center;
    font-size: 32px;
    margin-bottom: 24px;
    color: $black;
    font-family: $paragraph;
}
